<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Gtk" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Gtk3" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Mac" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Windows" version="2.3.0" targetFramework="net45" />
  <package id="gtk-sharp-3" version="3.22.6.4" targetFramework="net45" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="net45" />
  <package id="SkiaSharp.Views" version="1.59.3" targetFramework="net45" />
  <package id="SkiaSharp.Views.Forms" version="1.59.3" targetFramework="net45" />
  <package id="Xamarin.Forms" version="2.4.0.266-pre1" targetFramework="net45" />
</packages>